<p id="notice"><%= notice %></p>

<h1><%= @estimate.title %></h1>

<p><%= @estimate.body %></p>

<div ng-controller="EstimateItemsController" ng-init="init(<%= @estimate.id %>)">
  <ol class="estimate-items">
    <li ng-repeat="item in items">
      <input type="text" class="title"
        ng-model="item.title" ng-change="update($event, item)" ng-keydown="keydown($event, $index)">
      <input type="text" class="price"
        ng-model="item.price" ng-change="update($event, item)" ng-keydown="keydown($event, $index)">
    </li>
    <li class="btn btn-success btn-block add" ng-click="add($event)">Add</li>
  </ol>
</div>

<%= link_to 'Edit', edit_estimate_path(@estimate), class: 'btn btn-default' %>
<%= link_to 'Back', estimates_path, class: 'btn btn-default' %>
