<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @estimate.title %>
</p>

<p>
  <b>Body:</b>
  <%= @estimate.body %>
</p>

<p>
  <b>Author:</b>
  <%= @estimate.author_id %>
</p>

<p>
  <b>Client:</b>
  <%= @estimate.client_id %>
</p>

<p>
  <b>Published date:</b>
  <%= @estimate.published_date %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @estimate.expiration_date %>
</p>


<%= link_to 'Edit', edit_estimate_path(@estimate) %> |
<%= link_to 'Back', estimates_path %>
